<div class="navbar">
  <h1 class="logo">Art+X</h1>
</div>

<div class="ui vertical center aligned segment">
  <div class="container">
    <div class="ui large secondary menu">
      <div class="right item">
        <a class="ui grey basic button">로그인</a>
        <a class="ui grey basic button">회원가입</a>
      </div>
    </div>
    <div class="ui text container">
      <h1 class="ui header intro">Artly: 아틀리 예술 정보 공유 커뮤니티</h1>
      <h3 class="sub-intro">여러분과 함께 예술 시장의 활성화를 위한 비전을 공유하고 싶습니다.</h3>
      <button class="ui huge red basic button">
        더 알아보기
      </button>
    </div>
  </div>
</div>
