{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block javascript %}
  <script src="{% static 'home.js' %}"></script>
  <script src="{% static 'masonry.pkgd.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="ui search grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui big fluid action input">
      <input type="text" placeholder="미술작가를 검색해보세요...">
      <div class="ui red button">검색</div>
    </div>
  </div>
  <div class="four wide column"></div>
</div>
{% endblock %}
